$font-family-main: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;

$color-primary-light: #ffffff;
$color-primary-dark: #406879;
$color-primary-blue: #65a4bd;
$color-primary-accent: #eeaf61;

$gap: 2rem;
