@import "./constants.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family-main;
  color: $color-primary-dark;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-image: linear-gradient(
    208deg,
    $color-primary-light 40%,
    transparentize($color-primary-blue, 0.3)
  );
}

main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.container {
  max-width: 900px;
  padding-right: $gap;
  padding-left: $gap;
  margin: 0 auto;
}
